/* custom */

/*  */
:root {
    --index: calc(1vw + 1vh);
}

/*  */
a {
    cursor: pointer;
}

.top_nav__list {
    display: flex;
    justify-content: center;

}

.top_nav__item {
    list-style: none;
}

.top_nav__item:not(:last-child) {
    margin-right: 5px;
}

.top_nav__item {
    color: white;
    padding: 3px 6px 3px 6px;
    cursor: pointer;
    transition: color .2s ease-in-out;
}

.top_nav__item-link:hover {
    color: red;
}

.menu_font_size {
    font-size: calc(var(--index) * .7);
}

.full-search-bar {
    height: auto;
}


.nav_left_active {
    background-color: #ffffff47;
}

.parent-icon {
    margin-right: calc(var(--index) * .8) !important;
}

.card-body__loader{
    min-height: 70vh;
}

.carousel-item{
    height: 300px;
}
.carousel-item img{
    filter: brightness(0.8);
    object-fit: cover;
    height: 100%;
}
.carousel-caption{
    bottom: 2.25rem !important;
}

.about-icon-size{
    font-size: calc(var(--index) * 1.9);
}
@media (max-width: 3980px) {
    .menu_font_size {
        font-size: calc(var(--index) * .7);
    }
}

@media (max-width: 1024px) {
    .menu_font_size {
        font-size: calc(var(--index) * 1);
    }
}